<nav class="menu">
    <div class="cab_menu">
        <a href="/">
            <img src="https://static.vecteezy.com/system/resources/previews/000/348/224/non_2x/vector-bulb-icon.jpg">
            <h2>Reminder</h2>
        </a>
    </div>
    <ul>
        <li><a href="/usuarios">Usuários</a></li>
        <li><a href="/lembretes">Lembretes</a></li>             
    </ul>
    <div class="user_profile">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9nTVHW9paICfZT4lnfl3DuaQVRsp3uoCx3Z2cDXXJNQApG7be&usqp=CAU">
        <p class="user_profile_name">Hugo santos</p>
        <a href="/logout"><p class="user_profile_logout">Sair</p></a>
    </div>
</nav>