<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reminder - Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        {{>_navbar}}
    </header>

    <div id="content">
        {{{ body }}}
    </div>

    <footer>

    </footer>
    
</body>
<script src="/js/main.js"></script>
</html>