<form action="/usuarios/cadastro" method="POST">
    <label for="lbl_nome">Nome</label>
    <input type="text" name="txt_nome" placeholder="Digite o seu nome"><br>

    <label for="lbl_sobrenome">Sobrenome</label>
    <input type="text" name="txt_sobrenome" placeholder="Digite seu sobrenome"><br>

    <label for="lbl_telefone">Telefone</label>
    <input type="text" name="txt_telefone" placeholder="Digite seu telefone"><br>

    <label for="lbl_status">Status do usuário</label><br>
    <input type="radio" id="active" name="rdo_status" value="1">
    <label for="1">Ativo</label>
    <input type="radio" id="inactive" name="rdo_status" value="0">
    <label for="0">Inativo</label><br>

    <button type="submit">Cadastrar</button>
</form>