<div id="filter_users">
    <div class="filter_componets">
        <label for="lbl_nome">Nome do usuário</label>
        <input type="text" name="txt_nome">
        <a class="btn_consult_user">Buscar</a>
    </div>
</div>